#about {
  position: relative;
  z-index: 1;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
  margin-bottom: 1em;
  padding-top: 1.5em;
  padding-bottom: 1em;
  background-color: #DFF1FF;
  border-radius: 10%
}

.col {
  flex: 1;
}

.about-text {
  font-family: 'Rubik', sans-serif;
  font-weight: 200;
  font-size: 1.2em;
  text-align: left;
  min-width: 70%;
}

.profile-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  height: 25em;
  width: 25em;
  object-fit: cover;
  border-radius: 20%;
  padding-bottom: 1.5em;
}