#about {
  position: relative;
  z-index: 1;
}

.about-text {
  font-family: 'Rubik', sans-serif;
  position: relative;
  font-weight: 200;
  font-size: 1.2em;
  text-align: left;
  min-width: 70%;
  padding-right: 1em;
  padding-left: 1em
}

.profile-img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  height: 18em;
  width: 18em;
  object-fit: cover;
  border-radius: 10px;
  padding-bottom: 1.5em;
  margin: 0.5em
}

@media screen and (max-width: 730px) {
  .profile-img {
    height: 14em;
    width: 14em;
  }
  .about-text {
    flex-grow: 2;
    font-size: 1em;
  }
}