.section-header {
  display: flex;
  justify-content: center;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 3em;
  color: #0C3861
}

.rule {
  width: 75%;
  margin: auto;
  padding: 1.5em;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
  margin-bottom: 1em;
  padding-top: 1.5em;
  padding-bottom: 1em;
  background-color: #DFF1FF;
  background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
  border-radius: 10%
}