.education-text {
  font-family: 'Rubik', sans-serif;
  font-weight: 200;
  font-size: 1.2em;
  text-align: center;
  width: 75%;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em
}

.work-header {
  text-align: center;
  margin: auto;
  padding: auto;
  padding-right: 1em;
  padding-left: 1em;
  width: 100%;
}