.education-header {
  font-weight: 400;
  font-size: 1.4em;
}

.education-sub-header {
  font-weight: 300;
  font-size: 1.2em
}

.education-sub-sub-header {
  font-weight: 200;
  font-size: 1em
}

.education-content {
  text-align: center;
  padding: 0 0.5em 0 0.5em;
  font-family: 'Nunito Sans', sans-serif;
  color: #0C3861;
  flex-direction: column;
  margin: auto;
  width: 25%
}

@media screen and (max-width: 730px) {
  .education-header {
    font-size: 1.25em;
    margin: 0
  }
  .education-sub-header {
    font-size: 1em;
    margin: 0
  }
  .education-sub-sub-header {
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 0.5em
  }
  .education-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%
  }
}