#footer {
  padding-bottom: 2em
}

#social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
}

.social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #0D2754;
  color: #fff;
  border-radius: 100%;
  margin-right: 1rem;
  margin-top: 0.5em;
  text-decoration: none;
}

#social-icons .social-icon:last-child {
    margin-right: 0;
}
#social-icons .social-icon:hover {
    background-color: #00C6BB;
}

.contact-form-header {
  padding-top: 0.5em;
}

.form-content {
  background-color: #F1FAFF;
  width: 50%;
  margin: auto;
  border-radius: 10%;
  padding-top: 1em;
}