#nav-name {
  display: flex;
  justify-self: flex-start;
  margin-right: auto;
  margin-bottom: 0
}

.nav {
  z-index: 15;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 4em;
  background: #0D3861;
  overflow: hidden;
  position: sticky;
  top: 0;
}

.nav-link {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  color: white;
  cursor: pointer;
}

.nav-link:hover {
  color: #A3ABBD;
  transform: translate(0, 0.1em);
}