#nav-name {
  display: flex;
  justify-self: flex-start;
  margin-right: auto;
  margin-bottom: 0
}

.nav {
  z-index: 15;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 4em;
  background-color: #0D3861;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.nav.shadow {
  box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
}

.nav.hidden {
  transform: translateY(-110%);
}

.nav-link {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  color: white;
  cursor: pointer;
}

.nav-link:hover {
  color: #A3ABBD;
  transform: translate(0, 0.1em);
}