.nav-link {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  color: white;
  cursor: pointer;
  padding: 1em;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #1a83ff;
  transform: translate(0, 0.1em);
}