.nav-link {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  color: white;
  cursor: pointer;
  padding: 1em;
}

.nav-link:hover {
  color: #A3ABBD;
  transform: translate(0, 0.1em);
}