.project-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
  padding-bottom: 0.5em;
}

.project-img {
  width: 23em;
  height: 23em;
  object-fit: cover;
  margin: 1em
}