.container {
  background-image: url('images/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin-left: 0;
  margin-right: 0;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #08192d;
}

.profile-information {
  display: inline-block;
  margin-bottom: 85px;
}
