#container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 15%;
  z-index: 10;
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}

#btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
}

.canvas {
  background: linear-gradient(rgba(25, 4, 75, 0.5), rgba(25, 4, 75, 0.5)),
    url('images/background.jpg');
  background-position-x: center;
  background-size: cover;
  position: absolute;
  height: -webkit-fill-available;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}

.name {
  font-size: 7em;
}

.title {
  font-size: 2.5em;
}

.learn-more {
  font-size: 2em;
  background-color: #517dac;
  color: #112a46;
  border: inset 0.2em white;
  padding: 0.7em;
  text-align: center;
}
